@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Welcome to GC Coffee!</h2>
    <div class="regBack">
        <button onclick="location.href='@Url.Action("Register", "Home")'">Sign Up</button>
    </div>
</div>
